.logo {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 475px;
  flex-wrap: wrap;
  flex-direction: column;

}

.space {

  height: 100px;
  margin: 15px;
  text-align: center;

}

.box {

  position: relative;
  border-radius: 10px;
  height: 25px;
  width: 220%;
  right: 60%;

}

#glass {

  position: relative;
  right: 100%;
  bottom: 28%;
   


}