.logo {

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 500px;
  flex-wrap: wrap;
  flex-direction: column;

}

.space {

  height: 100px;
  margin: 15px;
  text-align: center;

}

.box {

  position: relative;
  border-radius: 10px;
  height: 25px;
  width: 220%;
  right: 60%;

}

#glass {

  position: relative;
  right: 100%;
  bottom: 28%;
   
}

.bottom {

  display: flex;
  position: fixed;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  height: 40px;
  background-color: #efefef;
  width: 100%;
  bottom: 0px;

}