.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  flex-wrap: wrap;
  flex-direction: column;

}

.form {
  position: relative;
  right: 50%;
  width: 200%;
  height: 15px;


}